* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.ctn-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 65vh;
  background-color: #ffffff;
  /* background-image: url("https://cdn.discordapp.com/attachments/1063530094053818398/1068372266884272208/plan-redes-sociales.png"); */
  /* background-size: cover; */
  /* background-position: center; */
}
.ctn-title-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-contact {
  text-align: center;
  margin-left: 15px;
  text-align: start;
  color: black;
  font-size: 4rem;
  font-family: "Anonymous Pro", monospace;
  font-weight: 500;
}
.ctn-contact-redes {
  min-height: 25vh;
}
.ctn-contact-redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* < ----- btn  ----- > */
.ctn-img-contact {
  display: flex;
  justify-content: flex-end;
  height: 15rem;
  width: 100%;
}
.img-contact {
  width: 17rem;
  height: 100%;
}

/* < ----- btn  ----- > */

/* < ----- btn dowloand ----- > */
.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* < ----- btn dowloand ----- > */

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ancor-aboutme {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  background-color: #e60f3396;
  backdrop-filter: blur(200px);
  border-radius: 18px;
  padding: 7px;
}
