* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1 {
  color: white;
}
.ctn-header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: black;
  z-index: 1;
}
.ctn-ancor-header {
  display: flex;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.ancor-header {
  position: relative;
  color: #a0a0a0;
  margin: 0.5rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px;
  padding: 0 10px;
}
.ancor-header:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  transition: 0.3s;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.ancor-header:hover:after {
  width: 100%;
}

body,
html,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
  text-transform: uppercase;
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}
