* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-skill {
  color: black;
}
.cnt-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 100%;
}
.ctn-skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-bottom: 2rem;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 30%;
  padding: 15px;
  margin: 10px;
  width: 120px;
  height: 120px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .html:hover,
.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip::before {
  background: #fe4c1e;
  color: #ffffff;
}

.wrapper .css:hover,
.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip::before {
  background: #0170bf;
  color: #ffffff;
}

.wrapper .javascript:hover,
.wrapper .javascript:hover .tooltip,
.wrapper .javascript:hover .tooltip::before {
  background: #e4a126;
  color: #ffffff;
}

.wrapper .bootstrap:hover,
.wrapper .bootstrap:hover .tooltip,
.wrapper .bootstrap:hover .tooltip::before {
  background: #8a12fc;
  color: #ffffff;
}

.wrapper .mongodb:hover,
.wrapper .mongodb:hover .tooltip,
.wrapper .mongodb:hover .tooltip::before {
  background: #5d4037;
  color: #ffffff;
}

.wrapper .express:hover,
.wrapper .express:hover .tooltip,
.wrapper .express:hover .tooltip::before {
  background: #2f2f2f;
  color: #ffffff;
}
.wrapper .react:hover,
.wrapper .react:hover .tooltip,
.wrapper .react:hover .tooltip::before {
  background: #7ddfff;
  color: #ffffff;
}
.wrapper .reactnative:hover,
.wrapper .reactnative:hover .tooltip,
.wrapper .reactnative:hover .tooltip::before {
  background: #7ddfff;
  color: #ffffff;
}
.wrapper .nodejs:hover,
.wrapper .nodejs:hover .tooltip,
.wrapper .nodejs:hover .tooltip::before {
  background: #548e33;
  color: #ffffff;
}
.wrapper .redux:hover,
.wrapper .redux:hover .tooltip,
.wrapper .redux:hover .tooltip::before {
  background: #764abc;
  color: #ffffff;
}
.wrapper .typescript:hover,
.wrapper .typescript:hover .tooltip,
.wrapper .typescript:hover .tooltip::before {
  background: #1952a5;
  color: #ffffff;
}
.wrapper .gitHub:hover,
.wrapper .gitHub:hover .tooltip,
.wrapper .gitHub:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}
.wrapper .postman:hover,
.wrapper .postman:hover .tooltip,
.wrapper .postman:hover .tooltip::before {
  background: #f06732;
  color: #ffffff;
}
