* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.ctn-aboutme {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}
.title-aboutme {
  color: black;
}
.ctn-text1-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
.ctn-text2-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
}
.text-aboutme {
  font-size: 0.5rem;
  padding: 0.3rem;
}
/* .text-aboutme {
  line-height: 16px;
} */
